:root {
  --default-bg-color: #eeeeee;
  --secondary-bg-color: #ffffff;

  --default-button-bg-color: #d4d4d2;
  --secondary-button-bg-color: #505050;
  --tertiary-button-bg-color: #ff9500;

  --default-button-text-color: inherit;
  --secondary-button-text-color: #ffffff;
  --tertiary-button-text-color: inherit;
}
